@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ShopModel
@{
    ViewData["Title"] = "Index";
}
<div>
    @using (Html.BeginForm("ViewCart", "Shop", FormMethod.Get))
    {
        <button class="btn btn-secondary" type="submit">Check Out (@Model.UOW.ShoppingCarts.GetCartItemCount(ViewBag.ShoppingCartId))</button>
    }
    <br/>
</div>
<div class="col-12 card-deck">
    @foreach (CKK.Logic.Models.Product item in Model.UOW.Products.GetAll().Result)
    {
        <div class="col-4">
            <partial name="_ProductCard" model="item"/>
        </div>
    }
    
</div>